<div class="center hero-unit">
	<h1>EcoExpress</h1>
  <h1>Welcome to my Application </h1>

  <h2>
    This is the home page for EcoExpress
    
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
