<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Day</th>
      <th scope="col">Delivery Time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Saturday</td>
      <td>12:00 PM - 09:00 PM</td>
    </tr>
       
    <tr>
      <th scope="row">2</th>
      <td>Sunday</td>
      <td>04:00 PM - 09:00 PM</td>
    </tr>
      <tr>
      <th scope="row">3</th>
      <td>Monday</td>
      <td>04:00 PM - 09:00 PM</td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td>Tuesday</td>
      <td>04:00 PM - 09:00 PM</td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td>Wednesday</td>
      <td>04:00 PM - 09:00 PM</td>
    </tr>    
        <tr>
      <th scope="row">6</th>
      <td>Thursday</td>
      <td>04:00 PM - 11:00 PM</td>
    </tr>      
      <th scope="row">7</th>
      <td>Friday</td>
      <td>12:00 PM - 11:00 PM</td>
    </tr>  
  </tbody>
</table>