<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Main District</th>
      <th scope="col">Sub-Districts</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Al-Bat'ha</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Al-Bat'ha Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Dirah (old Riyadh)</a>
    <a class="dropdown-item" href="#">2- Mi'kal</a>
    <a class="dropdown-item" href="#">3- Manfuha</a>
    <a class="dropdown-item" href="#">4- Manfuha Al-Jadidah (منفوحة الجديدة – "new Manfuha")</a>
    <a class="dropdown-item" href="#">5- Al-'Oud</a>
    <a class="dropdown-item" href="#">6- Al-Mansora</a>
    <a class="dropdown-item" href="#">7- Al-Margab</a>
    <a class="dropdown-item" href="#">8- Salam</a>
    <a class="dropdown-item" href="#">9- Jabrah</a>
    <a class="dropdown-item" href="#">10- Al-Yamamah</a>
    <a class="dropdown-item" href="#">11- Otayyigah</a>
    
  </div>
</div></td>
    </tr>
    
    <tr>
      <th scope="row">2</th>
      <td>Al-Shemaysi</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Al-Shemaysi Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Shemaysi</a>
    <a class="dropdown-item" href="#">2- Eleyshah</a>
    <a class="dropdown-item" href="#">3- Al-Badi'ah</a>
    <a class="dropdown-item" href="#">4- Syah</a>
    <a class="dropdown-item" href="#">5- Al-Nasriyyah</a>
    <a class="dropdown-item" href="#">6- Umm Sleym</a>
    <a class="dropdown-item" href="#">7- Al-Ma'athar</a>
    <a class="dropdown-item" href="#">8- Umm Al-Hamam (East)</a>
  </div>
</div></td>
    </tr>
    
        <tr>
      <th scope="row">3</th>
      <td>Al-'Olayya & Sulaymaniyyah</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Al-'Olayya & Sulaymaniyyah Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-'Olayya</a>
    <a class="dropdown-item" href="#">2- Al-Sulaymaniyyah</a>
    <a class="dropdown-item" href="#">3- Al-Izdihar</a>
    <a class="dropdown-item" href="#">4- King Fahd District</a>
    <a class="dropdown-item" href="#">5- Al-Masif</a>
    <a class="dropdown-item" href="#">6- Al-Murooj</a>
    <a class="dropdown-item" href="#">7- Al-Mugharrazat</a>
    <a class="dropdown-item" href="#">8- Al-Wurood</a>
  </div>
</div></td>
    </tr>
    
            <tr>
      <th scope="row">4</th>
      <td>Al-Ma'athar</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Al-Ma'athar Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Olayya</a>
    <a class="dropdown-item" href="#">2- Al-Nakheel</a>
    <a class="dropdown-item" href="#">3- King Saud University main campus</a>
    <a class="dropdown-item" href="#">4- Umm Al-Hamam (East)</a>
    <a class="dropdown-item" href="#">5- Umm Al-Hamam (West)</a>
    <a class="dropdown-item" href="#">6- Al-Ma'athar Al-Shimali ("North Ma'athar")</a>
    <a class="dropdown-item" href="#">7- Al-Rahmaniyya</a>
    <a class="dropdown-item" href="#">8- Al-Muhammadiyya</a>
    <a class="dropdown-item" href="#">9- Al-Ra'id</a>
  </div>
</div></td>
    </tr>

      <tr>
      <th scope="row">5</th>
      <td>Nemar</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Nemar Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Dharat Nemar</a>
    <a class="dropdown-item" href="#">2- Tuwaiq</a>
    <a class="dropdown-item" href="#">3- Hazm</a>
    <a class="dropdown-item" href="#">4- Nemar</a>
    <a class="dropdown-item" href="#">5- Deerab</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">6</th>
      <td>Al-Ha'ir</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Al-Ha'ir Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Ghannamiyyah</a>
    <a class="dropdown-item" href="#">2- Uraydh</a>
    <a class="dropdown-item" href="#">3- Al-Ha'ir</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">7</th>
      <td>Al-'Aziziyyah</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Al-'Aziziyyah Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Ad Dar Al Baida</a>
    <a class="dropdown-item" href="#">2- Taybah</a>
    <a class="dropdown-item" href="#">3- Al-Mansouriyah</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">8</th>
      <td>Irqah</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Irqah Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Irqah</a>
    <a class="dropdown-item" href="#">2- Al-Khozama</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">9</th>
      <td>Diplomatic Quarter</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Diplomatic Quarter Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Diplomatic Quarter</a>
  </div>
</div></td>
    </tr>
    
      <tr>
      <th scope="row">10</th>
      <td>Al-Malaz</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Al-Malaz Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Rabwah</a>
    <a class="dropdown-item" href="#">2- Jarir</a>
    <a class="dropdown-item" href="#">3- Al-Malaz</a>
    <a class="dropdown-item" href="#">4- Al-Murabba'</a>
  </div>
</div></td>
    </tr>

      <tr>
      <th scope="row">11</th>
      <td>Al-Naseem</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Al-Naseem Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Naseem (East)</a>
    <a class="dropdown-item" href="#">2- Al-Naseem (West)</a>
    <a class="dropdown-item" href="#">3- As-Salam</a>
    <a class="dropdown-item" href="#">4- Al-Manar</a>
    <a class="dropdown-item" href="#">5- Al-Rimayah</a>
    <a class="dropdown-item" href="#">6- Al-Nadheem</a>
    <a class="dropdown-item" href="#">7- Al-Rayyan</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">12</th>
      <td>Al-Shifa</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Al-Shifa Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Shifa</a>
    <a class="dropdown-item" href="#">2- Al-Mansuriyya</a>
    <a class="dropdown-item" href="#">3- Al-Marwah</a>
    <a class="dropdown-item" href="#">4- Al-Masani'</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">13</th>
      <td>Al-Urayja</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Al-Urayja Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Urayja</a>
    <a class="dropdown-item" href="#">2- Al-Urayja Al-Wusta ("Mid-Urayja")</a>
    <a class="dropdown-item" href="#">3- Al-Urayja (West)</a>
    <a class="dropdown-item" href="#">4- Shubra</a>
    <a class="dropdown-item" href="#">5- Dharat Laban</a>
    <a class="dropdown-item" href="#">6- Hijrat Laban</a>
    <a class="dropdown-item" href="#">7- As-Suwaidi</a>
    <a class="dropdown-item" href="#">8- As-Suwaidi (West)</a>
    <a class="dropdown-item" href="#">9- Sultanah</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">14</th>
      <td>Al-Rawdhah</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Al-Rawdhah Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Rawdhah</a>
    <a class="dropdown-item" href="#">2- Al-Qadisiyah</a>
    <a class="dropdown-item" href="#">3- Al-M'aizliyyah</a>
    <a class="dropdown-item" href="#">4- Al-Nahdhah</a>
    <a class="dropdown-item" href="#">5- Gharnatah (Granada)</a>
    <a class="dropdown-item" href="#">6- Qortubah (Cordoba)</a>
    <a class="dropdown-item" href="#">7- Al-Hamra</a>
    <a class="dropdown-item" href="#">8- Al-Qouds</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">15</th>
      <td>Al-Selayy</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Al-Selayy Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Selayy</a>
    <a class="dropdown-item" href="#">2- Ad Difa'</a>
    <a class="dropdown-item" href="#">3- Al Iskan</a>
    <a class="dropdown-item" href="#">4- Khashm Al-'Aan</a>
    <a class="dropdown-item" href="#">5- Al-Sa'adah</a>
    <a class="dropdown-item" href="#">6- Al-Fayha</a>
    <a class="dropdown-item" href="#">7- Al-Manakh</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">16</th>
      <td>Al-Shemal</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- Al-Malga</a>
    <a class="dropdown-item" href="#">2- Al-Sahafa</a>
    <a class="dropdown-item" href="#">3- Hittin</a>
    <a class="dropdown-item" href="#">4- Al-Wadi</a>
    <a class="dropdown-item" href="#">5- Al-Ghadir</a>
    <a class="dropdown-item" href="#">6- Al-Nafil</a>
    <a class="dropdown-item" href="#">7- Imam Muhammad ibn Saud University main campus</a>
    <a class="dropdown-item" href="#">8- Al-Qayrawan</a>
    <a class="dropdown-item" href="#">9- Al-Aqiq</a>
  </div>
</div></td>
    </tr>
    
          <tr>
      <th scope="row">17</th>
      <td>King Abdullah Financial District</td>
      <td><div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     KAFD Districts
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">1- King Abdullah Financial District</a>
  </div>
</div></td>
    </tr>

  </tbody>
</table>