<div class="center hero-unit">
  <h1>Welcome to my application</h1>

  <h2>
Dear customer: We need you at first to sign up in our website then locate your location to deliver your products. 
  </h2>

 
</div>

