<div class="center hero-unit">
  <h1>Welcome to my Application </h1>

  <h2>
You are now in a new concept of delivery which focus on time and cost
  </h2>
 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
 
</div>

