<% provide(:title, (@client.name)) %>
<div class="row">
  <aside class="span4">
    <section>
    	<h1> Client Information: </h1>
    	<h1> Name:  <%= @client.name %>  </h1>
	 <h1>Your Email: <%= @client.email %>  </h1>
   </section>
  </aside>
</div>