   <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
   	
  <a class="navbar-brand" href="#">Signin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
  	
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href= "static_pages/home" >Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href= "/help">help</a>
      </li>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Delivery Times</a>

    </ul>
    
  </div>
</nav>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", root_path, id: "logo" %>
      
    </div>
  </div>
</header>